<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true"/>

	</system.web>
	<connectionStrings>
		<add connectionString="Data Source=ANKITA-PC;Initial Catalog=student;Integrated Security=True" name="constring"/>
	</connectionStrings>
</configuration>